/socket.io-client-dll/Release
/socket.io-client-dll/x64
/x64/Release/socket.io-client.pdb
/x64/Release/socket.io-client.exp
/socket.io-client-dll.opensdf
/socket.io-client-dll.sdf
/socket.io-client-dll.v12.suo
